/* ========================
   Fonts
======================== */
/* ========================
   General Styles
======================== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Minecraft7', sans-serif !important;
}

/* ========================
   Typography
======================== */
h1 {
    margin-bottom: 1px;
}

p {
    margin-bottom: 30px;
    color: white;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px #d3d3d3, 0 0 9px #acacac, 0 0 15px #a7a7a7;
}

/* ========================
   Layout
======================== */
.content {
    flex: 1;
    position: relative;
    z-index: 1;
    padding-top: 123px;
    padding-bottom: 123px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://no1online.cz/assets/picture/background/squid-underwater-deepblue-kelp-shader.png');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Sends it behind the content */
}
/* ========================
   Top Bar
======================== */
.top-bar {
    background-color: #333;
    color: white;
    padding: 1px 11px;
    display: flex;
    justify-content: left;
    align-items: bottom;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.125rem;
    font-size: 1.5rem;
    z-index: 9999;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    height: 50px;
    margin-right: 11px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.left-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: x-large;
}

.top-bar a:hover {
    text-decoration: underline;
    border-radius: 4px;
    text-shadow: 0 0 1px #d3d3d3, 0 0 9px #acacac, 0 0 15px #a7a7a7;
}

/* ========================
   Bottom Bar
======================== */
.bottom-bar {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 2vh;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
}

/* ========================
   Buttons
======================== */
.button-container {
    padding: 30px
}
.button {
    margin-top: 57px;
    border: none;
    color: white;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    min-height: 64px;
    padding: 16px 32px;
    text-align: center;
    font-size: x-large;
    margin: 5px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0;
    font-family: 'Minecraft7', sans-serif;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #00AAAA;
}

.button1:hover {
    background-color: #00AAAA;
    color: white;
}

.button2 {
    background-color: rgb(106, 102, 102, 0.3);
    color: rgb(255, 255, 255);
    border: 3px solid #222;
    border-radius: 0;
}

.button2:hover {
    background-color: rgb(51, 51, 51, 0.7);
    color: white;
    text-decoration: underline;
    text-shadow: 0 0 1px #d3d3d3, 0 0 9px #acacac, 0 0 15px #a7a7a7;
}

/* ========================
   Images
======================== */
.img-logo {
    width: 504px;
    height: 152px;
    margin: 1px;
}
