/* ========================
   Fonts
======================== */
@font-face {
    font-family: 'Minecraft7';
    src: url('assets/font/Minecraft7.woff2') format('woff2');
}

/* ========================
   General Styles
======================== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #202d52;
    color: white;
    font-family: 'Minecraft7', sans-serif !important;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

/* ========================
   Typography
======================== */
h1 {
    margin-bottom: 1px;
}

p, a {
    color: white;
    font-size: x-large;
    line-height: 1.5;
}

p {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

a:hover, .here {
    text-decoration: underline;
    text-shadow: 0 0 1px #d3d3d3, 0 0 9px #acacac, 0 0 15px #a7a7a7;
}
.p-intro {
    font-size: x-large;
    margin: 8px auto;
    width: 40%;
}

/* ========================
   Layout
======================== */
.content {
    flex: 1;
    padding: 123px 0;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    box-sizing: border-box;
}

.save-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 8px auto;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    background-color: rgba(106, 102, 102, 0.3);
  }

.nice-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 8px auto;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    background-color: rgba(106, 102, 102, 0.3);
  }
/* ========================
   Background
======================== */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://no1online.cz/assets/picture/background/squid-underwater-deepblue-kelp-shader.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* ========================
   Top Bar
======================== */
.top-bar {
    background-color: #333;
    color: white;
    padding: 1px 11px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3.9rem;
    font-size: 1.5rem;
    z-index: 9999;
    box-sizing: border-box;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    height: 50px;
    margin-right: 11px;
    /*background-color: red;*/
}

.left-content,
.nav-links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-bar a {
    color: white;
    padding: 0 15px;
}

.top-bar a:hover {
    border-radius: 4px;
}

/* ========================
   Bottom Bar
======================== */
.bottom-bar {
    width: 100vw;
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: left;
    font-size: 2.25vh;
    box-sizing: border-box;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
}

/* ========================
   Buttons
======================== */
.button-container {
    padding: 30px;
}

.button {
    margin: 5px;
    margin-top: 5px;
    padding: 16px 32px;
    min-width: 250px;
    min-height: 64px;
    border: none;
    border-radius: 0;
    color: white;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Minecraft7', sans-serif;
}
.button {
    background-color: rgba(106, 102, 102, 0.3);
    color: white;
    border: 3px solid #222;
}

.button:hover {
    background-color: rgba(51, 51, 51, 0.7);
    text-decoration: underline;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

/* ========================
   Images
======================== */
.img-logo {
    width: 504px;
    height: 152px;
    margin: 1px auto;
    max-width: 100%;
    display: block;
}
.server-icon {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin-right: 16px;
    flex-shrink: 0;
  }
.img-media {
    width: 20vh;
}

/* ========================
   Hamburger Menu
======================== */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 1px 11px;
    cursor: pointer;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.hamburger:hover div {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

/* ========================
   Mobile Styles
======================== */
@media (max-width: 768px) {
    .top-bar {
        justify-content: space-between;
        height: 4.125rem;
    }

    .p-intro {
        width: 80%;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100vw;
        padding: 10px 0;
    }

    .nav-links a {
        padding: 10px 20px;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.open {
        display: flex;
    }

    .divider {
        display: none;
    }

    .img-logo {
        width: 80%;
    }
}
