
@font-face {
    font-family: 'Minecraft7';
    src: url("https://no1online.cz/assets/font/Minecraft7.woff2") format('woff2'),
         url("https://no1online.cz/assets/font/Minecraft7.woff") format('woff'),
         url("https://no1online.cz/assets/font/Minecraft7.ttf") format('truetype');
}
body {
    background-image: url("https://no1online.cz/assets/picture/background/squid-underwater-deepblue-kelp-shader.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: 'Minecraft7', sans-serif !important;
    font-size: x-large;
}
h1 {
    margin-bottom: 1px;
}
p {
    margin-bottom: 30px;
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
 }

.button {
    border: none;
    color: white;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    min-height: 64px;
    padding: 16px 32px;
    text-align: center;
    font-size: x-large;
    margin: 5px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0;
    font-family: 'Minecraft7', sans-serif;
}
.button1 {
    background-color: white;
    color: black;
    /*border: 2px solid #04AA6D;*/
    border: 2px solid #00AAAA;
}
.button1:hover {
    background-color: #00AAAA;
    color: white;
}
.button2 {
    background-color: #e6f7fd;
    color: black;
    border: 2px solid #008CBA;
}
.button2:hover {
    background-color: #008CBA;
    color: white;
}

  
  .top-bar {
    background-color: #333;
    color: white;
    padding: 1px 15px;
    display: flex;
    justify-content: left;
    align-items: bottom;
    position: fixed; /* Fixed position at the top */
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    font-size: x-large;
    }

  .logo {
    height: 64px; /* Adjust logo height */
    margin-right: 9px; /* Space between logo and links */
  }

  
.nav-links {
  display: flex;
  align-items: center; /* Ensure links align with the logo */
}

.left-content {
  display: flex;
  align-items: center; /* Vertically align logo and links */
  gap: 5px;
}

.right-content {
  display: flex;
  align-items: center; /* Vertically align logo and links */
}

.top-bar a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  font-size: x-large;;
}

.top-bar a:hover {
  /*background-color: #555;*/
  text-decoration: underline;
  border-radius: 4px;
  text-shadow: 0 0 1px #d3d3d3, 0 0 9px #acacac, 0 0 15px #a7a7a7;
  
}
  .img-logo {
    width: 504px;
    height: 152px;
    margin: 1px;
}
